<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="padding-bottom: 5px !important">
                    <div >
                        <h5 class="pb-2">فندق جديد</h5>
                       <span> يرجى ملئ جميع الخانات </span>
                    </div>
                    
                </div>
                <div class="card-body">
                    <form class="needs-validation" autocomplete="off" 
                    [formGroup] = "VacationForm"
                    (ngSubmit)="onSubmit()" 
                    novalidate>
                        <div class="form-row">
                            <!-- hotel Name  -->
                            <div class="col-6 mb-3">
                                <label for="validation01"><span class="validation-required">*</span> اسم باللغة الانجليزية</label>
                                <input class="form-control" id="validation01" type="text" formControlName="nameEn"
                                [tooltip]="fc.nameEn.errors?.required ? 'الحقل مطلوب' : null"
                                [class.is-valid]="fc.nameEn.valid && (fc.nameEn.touched)"
                                [class.is-invalid]="fc.nameEn.invalid && (fc.nameEn.touched)"
                                     required
                                     placeholder="اسم باللغة الانجليزية"
                                    containerClass=""/>
                            </div>
                            <!-- room Type  -->
                            <div class="col-6 mb-3">
                                <label for="validation01"><span class="validation-required">*</span> الاسم باللغة العربية</label>
                                <input class="form-control" id="validation01" type="text" formControlName="nameAr"
                                [tooltip]="fc.nameAr.errors?.required ? 'الحقل مطلوب' : null"
                                [class.is-valid]="fc.nameAr.valid && (fc.nameAr.touched)"
                                [class.is-invalid]="fc.nameAr.invalid && (fc.nameAr.touched)"
                                     required
                                     placeholder="الاسم باللغة العربية"
                                    containerClass=""/>
                            </div>
                            <!-- sleeps  -->
                            <div class="col-6 mb-3">
                                <label for="validation01"><span class="validation-required">*</span> التفاصيل</label>
                                <input class="form-control" id="validation01" type="text" formControlName="description"
                                [tooltip]="fc.description.errors?.required ? 'الحقل مطلوب' : null"
                                [class.is-valid]="fc.description.valid && (fc.description.touched)"
                                [class.is-invalid]="fc.description.invalid && (fc.description.touched)"
                                     required
                                     placeholder="التفاصيل"
                                    containerClass=""/>
                            </div>
                            <!-- price  -->
                            <div class="col-6 mb-3">
                                <label for="validation01"><span class="validation-required">*</span> السعر</label>
                                <input class="form-control" id="validation01" type="text" formControlName="price"
                                [tooltip]="fc.price.errors?.required ? 'الحقل مطلوب' : null"
                                [class.is-valid]="fc.price.valid && (fc.price.touched)"
                                [class.is-invalid]="fc.price.invalid && (fc.price.touched)"
                                     required
                                     placeholder="اكتب السعر"
                                    containerClass=""/>
                            </div>
                            <!-- day_num  -->
                            <div class="col-6 mb-3">
                                <label for="validation01"><span class="validation-required">*</span> عدد الايام</label>
                                <input class="form-control" id="validation01" type="text" formControlName="day_num"
                                [tooltip]="fc.day_num.errors?.required ? 'الحقل مطلوب' : null"
                                [class.is-valid]="fc.day_num.valid && (fc.day_num.touched)"
                                [class.is-invalid]="fc.day_num.invalid && (fc.day_num.touched)"
                                     required
                                     placeholder="عدد الايام"
                                    containerClass=""/>
                            </div>
                            <div class="col-12 mb-3"></div>
                             <!-- to insert image for the hotel  -->
                             <div class="col-3 m-2 row" *ngFor="let img of images">
                                    <img  src="{{ img }}" class="w-100 image-style p-2"/>

                             </div>
                             
              <div class="col-12 my-3">
               <input type="file" accept="image/*" #file id="getLogo"
                style="display: none" (change)="getLogoUrl($event)" />
            <button type="button" onclick="document.getElementById('getLogo').click()"
                class="btn  d-block"  style="width: 100%;">
                 صورة الفسحة
            </button>    
                        </div>
                           
                        </div>

                        <br>
                        <ng-template #elseBlock>
                            <button [disabled]="button" class="btn pull-right" type="submit">
                               حفظ
                            </button>
                            </ng-template>
                        <div *ngIf="update; else elseBlock">
                            <button class="btn pull-right" type="submit">
                                تعديل
                            </button>
                       </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



