<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="padding-bottom: 5px !important">
                    <div >
                        <h5 class="pb-2">كافية جديد</h5>
                       <span> يرجى ملئ جميع الخانات </span>
                    </div>
                    
                </div>
                <div class="card-body">
                    <form class="needs-validation" autocomplete="off" 
                    [formGroup] = "CafeForm"
                    (ngSubmit)="onSubmit()" 
                    novalidate>
                        <div class="form-row">
                            <!-- Cafe NameEn  -->
                            <div class="col-6 mb-3">
                                <label for="validation01"><span class="validation-required">*</span> اسم الكافية بالانجليزي</label>
                                <input class="form-control" id="validation01" type="text" formControlName="nameEn"
                                [tooltip]="fc.nameEn.errors?.required ? 'الحقل مطلوب' : null"
                                [class.is-valid]="fc.nameEn.valid && (fc.nameEn.touched)"
                                [class.is-invalid]="fc.nameEn.invalid && (fc.nameEn.touched)"
                                     required
                                     placeholder="اسم الكافية بالانجليزي"
                                    containerClass=""/>
                            </div>
                            <!-- Cafe NameAr -->
                            <div class="col-6 mb-3">
                                <label for="validation01"><span class="validation-required">*</span> اسم الكافية بالعربي</label>
                                <input class="form-control" id="validation01" type="text" formControlName="nameAr"
                                [tooltip]="fc.nameAr.errors?.required ? 'الحقل مطلوب' : null"
                                [class.is-valid]="fc.nameAr.valid && (fc.nameAr.touched)"
                                [class.is-invalid]="fc.nameAr.invalid && (fc.nameAr.touched)"
                                     required
                                     placeholder="اسم الكافية بالعربي"
                                    containerClass=""/>
                            </div>
                            <!-- Description  -->
                            <div class="col-6 mb-3">
                                <label for="validation01"><span class="validation-required">*</span> تفاصيل الكافية</label>
                                <input class="form-control" id="validation01" type="text" formControlName="description"
                                [tooltip]="fc.description.errors?.required ? 'الحقل مطلوب' : null"
                                [class.is-valid]="fc.description.valid && (fc.description.touched)"
                                [class.is-invalid]="fc.description.invalid && (fc.description.touched)"
                                     required
                                     placeholder="التفاصيل"
                                    containerClass=""/>
                            </div>
                            <!-- cafe Location  -->
                            <div class="col-6 mb-3">
                                <label for="validation01"><span class="validation-required">*</span> مكان الكافية</label>
                                <input class="form-control" id="validation01" type="text" formControlName="cafeLocation"
                                [tooltip]="fc.cafeLocation.errors?.required ? 'الحقل مطلوب' : null"
                                [class.is-valid]="fc.cafeLocation.valid && (fc.cafeLocation.touched)"
                                [class.is-invalid]="fc.cafeLocation.invalid && (fc.cafeLocation.touched)"
                                     required
                                     placeholder="مثال : المهندسين"
                                    containerClass=""/>
                            </div>
                            <!-- owner -->
                            <div class="col-lg-6 col-sm-12  mb-3">
                                <label for="validationCustom05"><span class="validation-required">*</span> اختر المالك</label>
                                <ng-select  [selectOnTab]="true" formControlName="client_id"
                                    class="form-control p-0" placeholder="اختر المالك"
                                    id="validationCustom05">
                                    <ng-option *ngFor="let item of owners" [value]="item.client_id">{{item.clientName}}</ng-option>
                                </ng-select>
                            </div>
                            
                        <!-- to insert image for the cafe  -->
              <div class="col-6 my-3">
                <img  src="{{ imageLogo }}" style="width: 60%; height: 220px;" class="image-style p-2" *ngIf="imageLogo != null"/>
               <input type="file" formControlName="image" accept="image/*" #file id="getLogo"
                style="display: none" (change)="getLogoUrl($event)" />
            <button type="button" onclick="document.getElementById('getLogo').click()"
                class="btn  d-block"  style="width: 60%;">
                 صورة للكافية
            </button>    
                        </div>
                           
                        </div>

                        <br>
                        <ng-template #elseBlock>
                            <button [disabled]="button" class="btn pull-right" type="submit">
                               حفظ
                            </button>
                            </ng-template>
                        <div *ngIf="update; else elseBlock">
                            <button class="btn pull-right" type="submit">
                                تعديل
                            </button>
                       </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



